<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>BoredChat | Tips</title>
    </head>
    <body>
        Basically, you can put <a href="https://www.w3schools.com/html/html_intro.asp" target="_blank">html</a> in the message
        <ol>
            <li>tab + enter to quickly send message (tab selects button, enter clicks button)</li>
            <li>type &lt;br&gt; to add a newline to the message</li>
            <li>type &amp;emsp; to add a tab to the message</li>
        </ol>
        How to make stuff in html
        <ul>
            <li><a href="https://www.w3schools.com/html/html_links.asp" target="_blank">links</a></li>
            <li><a href="https://www.w3schools.com/html/html_images.asp" target="_blank">images</a></li>
            <li><a href="https://www.w3schools.com/html/html5_video.asp" target="_blank">video</a></li>
            <li><a href="https://www.w3schools.com/html/html_iframe.asp" target="_blank">embeds for other websites</a></li>
        </ul>
    </body>
</html>